<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="\stylesheets\style.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>GreenHome</title>
</head>
<body>
    <%-include('./partials/header')%>

    <main>

    <div class="slider-container">
        <div class="slider-text-principal">Creá espacios agradables</div>
        <div class="slider-sub-text-principal">Nosotros podemos ayudarte</div>
        <a href="/inspire" ><div class="slider-button">Descubre plantas perfectas para vos</div></a>
    

</div>

<div>

</div>


    <h2>Destacados</h2>

    <section class="sale-container">
        <% for (product of products) { %>
        <a class="sale-box" href="/products/detail/<%=product.id%>">
            <img class= "sale-box-image" src="\images\products/<%=product.image%>" alt="">
            <div class="sale-box-column">
                <div class="sale-box-title"><%=product.name%></div>
                <div class="sale-box-price">$ <%=product.price%></div>    
            </div>
        
        </a>
        <%}%>

    </section>

                                            <!-- TIENDA -->
        <h2>Tienda</h2>
        <section class="shop-container">
        <div class="grid-container">
            <a href="#" class="selection01">
                <div class="categoria-img-interior">
                    <div class="shop-category-title">Plantas de Interior</div>

                </div>
            </a>
            <a class="selection02">
                <div class="categoria-img-exterior">
                    <div class="shop-category-title">Plantas de Exterior</div>

                </div>
            </a>
            <a href="#" class="selection03">
                <div class="categoria-img-cactus">
                    <div class="shop-category-title">Cactus y Suculentas</div>

                </div>
            </a>
            <a href="#" class="selection04">
                <div class="categoria-img-macetas">
                    <div class="shop-category-title">Maceta y complementos</div>

                </div>
            </a>
          </div>
        </section>
        

        <section class="subscribe-container">
            <div class="subscribe-form">
                <form action="" method="POST">
                    <div>
                        <label for="suscribir"></label>
                        <input type="email" name="email" id="email" placeholder="carlos.perez@gmail.com">
                        <button>Subscribir</button>
                    </div>
                </div>  
                <p class="subscribe-text">No te pierdas nuestras ofertas y obtene un descuendo del %20 en tu primera compra</p>
            
        </section>

        <h2>Inspirate</h2>

        <section class="inspire-container">
            
            
            <div class= "inspirate-box img-inspirate1"></div>
            <div class= "inspirate-box img-inspirate2"></div>
            <div class= "inspirate-box img-inspirate3"></div>
            <div class= "inspirate-box img-inspirate4"></div>
            <div class= "inspirate-box img-inspirate5"></div>
            <div class= "inspirate-box img-inspirate6"></div>
            <div class= "inspirate-box img-inspirate7"></div>
            <div class= "inspirate-box img-inspirate8"></div>
            <div class= "inspirate-box img-inspirate9"></div>
            <div class= "inspirate-box img-inspirate10"></div>
            <div class= "inspirate-box img-inspirate11"></div>
            <div class= "inspirate-box img-inspirate12"></div>
            <div class= "inspirate-box img-inspirate13"></div>
            <div class= "inspirate-box img-inspirate14"></div>
            <div class= "inspirate-box img-inspirate15"></div>
            <div class= "inspirate-box img-inspirate16"></div>
        </section>

    </main>


  
    <%-include('./partials/footer')%>
</body>
</html>