<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/style.css" rel="stylesheet" />
    <link href="/stylesheets/cargaProducto.css" rel="stylesheet" />
    <link href="/stylesheets/Tienda.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/37f1eb6e83.js" crossorigin="anonymous"></script>
    <title>GreenHome</title>
</head>
<body>
    <%-include('../partials/header')%>
   <main>
       <div><h2>Tienda</h2></div>
       <form action="/products/list" method="GET">
                <div class="filtros-container">
            
               
                <div>

                    <label>Tipo</label><br>
                    <select class="filtro-select" name="category" id="">
                        <option value="Todas">Todas</option>
                        <option value="Todas">Plantas de Interior</option>
                        <option value="Todas">Plantas de Exterior</option>
                        <option value="Todas">C치ctus y Suculentas</option>
                        <option value="Todas">Plantas Florales</option>
                        <option value="Todas">Orquideas</option>
                        <option value="Todas">Frutales</option>
                        <option value="Todas">Kokedamas</option>
                    </select>

                </div>
                <div>

                    <label>Ambiente</label><br>
                    <select class="filtro-select" name="filter-room" id="">
                        <option value="Todas">Todas</option>
                        <option value="dormitorio">Dormitorio</option>
                        <option value="cocina">Cocina</option>
                        <option value="ba침o">Ba침o </option>
                        <option value="balcon">Balc칩n</option>
                        <option value="oficina">Oficina </option>
                    </select>

                </div>
                <div>
                    <label>Cuidados</label><br>
                        <select class="filtro-select" name="prop-space" id="">
                            <option value="todos">Todos</option>
                            <option value="bajo">Poco cuidado</option>
                            <option value="medio">Requiere atencion</option>
                            <option value="alto">Cuidado especial</option>
                        </select>
                </div>
                <div class="filtros-button"><button type="submit">Filtrar</button></div> 
            </div>
        </form>
 
    
       <section class="container-tienda">
        <% for (product of products) { %>
        <div class= "img-articulo-tienda">
            <div class="grid-container">
                <a href="/products/detail/<%=product.id%>"><img class="img-articulo-tienda" src="\img\product-example.jpg" alt="" class="image"></a>
                <a href="/products/edit/<%=product.id%>" class="edit"><i class="fas fa-pen"></i></a>
                <a href="/products/delete/<%=product.id%>" class="delete"><i class="far fa-trash-alt"></i></a>
              </div>   
            <% let finalPrice=0; 
            if (product.discount>0){
                finalPrice = Math.round(product.price*(1-(product.discount/100)))
                } else { 
                finalPrice = product.price} %>
            <div class="detail-container">
                <a href="/products/detail/<%=product.id%>" class="detail-product-name"><%=product.name%> <% if (product.discount>0){%><span class="detail-product-discount"><%=product.discount%>% OFF</span> <%}%></a>
                <a href="/products/detail/<%=product.id%>" class="detail-product-price">$<%=finalPrice%></a>
                <a href="/products/detail/<%=product.id%>" class="detail-product-line"><%=product.line%></a>
                <a href="/products/detail/<%=product.id%>" class="detail-product-button"><i class="fas fa-cart-plus detail-product-button-ico"></i></a>
            
              </div>
        </div>
        <%}%>
       </section>
   </main>
 
  
    <%-include('../partials/footer')%>
</body>
</html>