<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="\stylesheets\style.css" rel="stylesheet" />
    <link href="\stylesheets/product.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title>GreenHome</title>
</head>
<%-include('../partials/header')%>
    <body>
    <main> 
        <div class="container-flex-100">
        <section class= "container-flex-60">   
        <div class="gallery">
            <div class="mini-gallery"></div>
            <div class="main-photo">
                <div class="main-photo-title"><%=product.name%></div>
                <img class="main-photo-img" src="\images\products/<%=product.image%>" alt="Nombre de Planta">
            </div>
        </div>
        <div class="product-title">
            <%=product.id%>
        </div>
        
        <div class="main-description">
            <div class="product-longline">
                <p><%=product.description%></p>
            <hr>
        </div>
            <div class="plant-prop">
                <div class="plant-prop-row">
                    <div class="prop">
                        <img class="prop-icon color-fill" src="\icon\gardening\svg\nublado.svg" alt="">
                        <p class="prop-text"><%=product.prop_light%></p>
                    </div>
                    <div class="prop">
                        <img class="prop-icon" src="\icon\gardening\svg\041-watering-can.svg" alt="">
                        <p class="prop-text"><%=product.prop_water%> 
                            <% if(product.prop_water<2){%>vez por semana<%} else { %> veces por semana<%}%>
                        </p>
                    </div>
                    <div class="prop">
                        <img class="prop-icon" src="\icon\gardening\svg\020-house-1.svg" alt="">
                        <p class="prop-text">
                            <% if(product.prop_pet == true){%>Pet friendly<%} else { %> Venenosa <%}%>
                        </p>
                    </div>
                </div>
                <div class="plant-prop-row">
                    <div class="prop">
                        <img class="prop-icon" src="\icon\gardening\svg\015-tree.svg" alt="">
                        <p class="prop-text"> Hasta <%=product.prop_height%> Mts</p>
                    </div>
                    <div class="prop">
                        <img class="prop-icon" src="\icon\gardening\svg\037-plant.svg" alt="">
                        <p class="prop-text"><%=product.prop_plantpot%></p>
                    </div>
                    <div class="prop">
                        <img class="prop-icon" src="\icon\gardening\svg\error.svg" alt="">
                        <p class="prop-text"><%=product.prop_plague%></p>
                    </div>
                </div>
        </div>

        
            <hr>
        </div>
    </section>
        
    <section class="container-flex-40">
    <div class="product-info-container">
        <div class="top-content">
            <div class="product-title-row">
            <div><%=product.name%></div>
            <div class="product-title-price">$ <%=product.price%></div>
            </div>
            <p class="product-shortline"><%=product.copy%></p> 
        </div>
            <div class="recomend-articles-container">
                    <h5>Macetas Recomendadas</h5>
                    <div class="recomend-articles-row">
                        <div class="recomend-articles-item-container">
                            <div class="recomend-item">
                                <img src="\img\5ef9ff93eaa8d060659964.jpg" alt="">
                                <div class="price-item"><span>$100</span></p></div>
                            </div>
                        </div>
        
                        <div class="recomend-articles-item-container">
                            <div class="recomend-item">
                                <img src="\img\5ef9ff93eaa8d060659964.jpg" alt="">
                                <div class="price-item"><span>$100</span></p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="recomend-articles-container">
                <h5>Plantas relacionadas</h5>
                <div class="recomend-articles-row">
                <div class="recomend-articles-item-container">
                    <div class="recomend-item">
                        <img src="\img\5ef9ff93eaa8d060659964.jpg" alt="">
                        <div class="price-item"><span>$100</span></p></div>
                    </div>
                </div>

                <div class="recomend-articles-item-container">
                    <div class="recomend-item">
                        <img src="\img\5ef9ff93eaa8d060659964.jpg" alt="">
                        <div class="price-item"><span>$100</span></p></div>
                    </div>
                </div>
        </div>
    </div>
        
        
    <div class="button-shop-container">
       
            <a href="#"> <div class="button-shop">Comprar ahora</div></a>
            <a href="#"> <div class="button-shop">Añadir al carrito</div></a>
        
    </div> 
        <div class="resume-container">
            <div class="resume-list">
                <div class="row-simple-item">
                    <span class="row-simple-item-text"><%=product.name%></span>
                    <span class="row-simple-item-value">$100</span>
                </div>
                <div class="row-simple-item">
                    <span class="row-simple-item-text">Costo de envío</span>
                    <span class="row-simple-item-value">$200</span>
                </div>
                <div class="delivery">
                    <span>Llega el 31 de Febrero</span>
                </div>
                <hr>
                <div class="resume-total">
                    <span>Total</span>
                    <span>$300</span>
                </div>
            </div>
        </div>
        <a href="/products/edit/<%=product.id%>"><div class="edit-button">Editar Producto</div></a> 
    </div>  
    <div class="product-shop-fixed">
    <a class="product-shop-button" href="#">
            <div class="product-button-text">Añadir al Carrito</div>
            <div class="product-button-price">$ 100</div>
    <a>
    </div>   
    </section>
    </div>
    </main>
    </body>
    <%-include('../partials/footer')%>
</body>
</html>