<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/style.css" rel="stylesheet" />
    <link href="/stylesheets/cargaProducto.css" rel="stylesheet" />
    <link href="\stylesheets\custom.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/37f1eb6e83.js" crossorigin="anonymous"></script>
    <title>GreenHome</title>
</head>
<body>
    <%-include('../partials/header')%>
    <main>
                                                            <!-- CARGA DE ITEMS  --> 
        <form action="/products/edit/<%= product.id %>" id="create-form" method="POST" enctype="multipart/form-data">
            <section class="carga-visuales-container">
                <div class="carga-titulo-principal"><h2>Estás editando: <%=product.name%> </h1></div>
                    <%if (typeof errors != 'undefined'){ for (error of errors){%>
                        <li class="errors-li"><%=error.msg%></li>
                        <%}}%>
                <div class="carga-sub-titulos"><h3>Elementos visuales</h3></div>
                <div class="visual-selector-container">
                    <div class="visual-selector">
                        <div class="main-photo" id="image-form-border"><input class="visual-selector-input"type="file"  id="image-form"  name="image" ><div>Foto principal</div></div>
                        <div class="slider-photo"><input class="visual-selector-input" type="file" name="slider_photo"><div>Fotos slider</div></div>
                        <div class="complements"><i class="fas fa-list-alt"></i><div>Complementos</div>

                        </div>
                        <div class="plantpot"><i class="fas fa-seedling"></i><div>Relacionadas</div></div>
                    </div>
                </div>
            </section>

                                                                    <!-- NOMBRE Y DISCRIPCION --> 

            <section class="carga-descripcion-container">
                <div class="carga-sub-titulos">
                    <h3>Descripción</h3>
                </div>
 
                <div class="carga-descripcion-60-40">
                    <div class="descripcion-60">
                        <div class="desciption-input-box">                     
                            <div class="desciption-input-box">
                                <label for="name" class="descripcion-input">Nombre de Producto <span id="name-error-text" class="msj-error">Este campo es obligatorio</span></label>
                                <input type="text" id="form-name" name="name" class="descripcion-input" placeholder="Ej: Árbol de Jade" value="<%=product.name%>">
                            </div>
                        </div>
                        <div class="desciption-input-box">
                            <div class="descripcion-input">
                                <div class="descripcion-input"><label for="name" class="descripcion-input">Precio <span id="price-error-text"class="msj-error" >Este campo es obligatorio</span></label> <span id="discount-error-text"class="msj-error" >El descuento debe ser mayor a 0 y menor a 100</span></div>
                                <div class="descripcion-input-row">
                                      <input type="text"  id="form-price" name="price"class="descripcion-input-mid" placeholder="Ej: 2000" value="<%=product.price%>">
                                    <input type="text" id="form-discount" name="discount" class="descripcion-input-mid"  placeholder="Ej: 10" value="<%=product.discount%>">
                                </div>
                            </div>
                        </div>
                            <div class="desciption-input-box">
                                <label for="prop_category" class="descripcion-input">Categoría <span id="category-error-text"class="msj-error" >Este campo es obligatorio</span></label>
                                <select name="prop_category"  id="form-category" class="descripcion-input">
                                    <% for (category of categories) { %> 
                                        <% if (category.id == product.category_id) { %> 
                                        <option value="<%=category.id%>" selected><%=category.name%></option>
                                       <% } else  { %>
                                        <option value="<%=category.id%>"><%=category.name%></option> 
                                        <% } %> 
                                        <% } %>
                                </select>
                            </div>
                            <div class="desciption-input-box">
                                <label for="name" class="descripcion-input">Descripción <span id="description-error-text" class="msj-error">Estos campos son obligatorios</span></label>
                                <input type="text" name="line" id="form-line" class="descripcion-input" placeholder="Descripcion una linea" value="<%=product.line%>">
                                <input type="text" name="copy" id="form-copy" class="descripcion-input" placeholder="Copywriting" value="<%=product.copy%>">
                                <input type="text" name="description" id="form-description" class="descripcion-input descripcion-input-long" placeholder="Descripcion completa de producto"
                                value="<%=product.description%>">
                            </div>
                    </div>
                    <div class="descripcion-40">
                        <div class="titulo-caracteristica">
                            Caracteristicas
                        </div>
                        <div class="select-caracteristicas-box">
                            <div class="caracteristica-producto">
                                <label>Luz</label>
                                <select name="prop_light" id="form-prop-ligth" class="caracteristicas-select">
                                    <option value="0"<% if (product.prop_light == 0) {%>selected <% } %>>Luz reflejada</option>
                                    <option value="1"<% if (product.prop_light == 1) {%>selected <% } %>>Sol directo</option>                          
                                </select>
                            </div> 
                            <div class="caracteristica-producto">
                                <label>Riego</label>
                                <select name="prop_water" id="form-prop-water" class="caracteristicas-select" >
                                    <option value="1"<% if (product.prop_water == 1) {%>selected <% } %>>1 vez por semana</option>
                                    <option value="2"<% if (product.prop_water == 2) {%>selected <% } %>>2 veces por semana</option> 
                                    <option value="3"<% if (product.prop_water == 3) {%>selected <% } %>>3 veces por semana</option>                                  
                                </select>
                            </div> 
                            <div class="caracteristica-producto">
                                <label>Maceta</label>
                                <select name="prop_plantpot" id="form-prop-planpot" class="caracteristicas-select">
                                    <option value="1"<% if (product.prop_plantpot == 1) {%>selected <% } %> >Pequeña</option>
                                    <option value="2"<% if (product.prop_plantpot == 2) {%>selected <% } %> >Mediana</option>
                                    <option value="3"<% if (product.prop_plantpot == 3) {%>selected <% } %> >Grande</option>    
                                    <option value="4"<% if (product.prop_plantpot == 4) {%>selected <% } %> >Muy grande</option>                                                                         
                                </select>
                            </div> 
                            <div class="caracteristica-producto">
                                <label>Plagas</label>
                                <select name="prop_plague" id="form-propplague" class="caracteristicas-select" >
                                    <option value="0" <% if (product.prop_plague == 0) {%>selected <% } %>>Resistente</option>
                                    <option value="1" <% if (product.prop_plague == 1) {%>selected <% } %>>Débil</option>                                                                       
                                </select>
                            </div>
                            <div class="caracteristica-producto">
                                <label>Altura <span id="height-error-text" class="msj-error">Este campo es obligatorio</span></label>
                                <input type="number" name="prop_height" id="form-prop-heigth" list="height-list" step="0.25" value="<%=product.prop_height%>">
                                <datalist id="height-list" > 
                                    <option value="0.25">
                                    <option value="0.50">
                                    <option value="0.75">
                                    <option value="1.00">
                                    <option value="1.25">
                                    <option value="1.50">
                                    <option value="1.75">
                                    <option value="2.00">
                                    <option value="2.25">
                                    <option value="2.50">
                                </datalist>
                            </div>
                            <div class="caracteristica-producto">
                                  
                                <label>Mascotas</label>
                                <select name="prop_pet" id="form-prop-pet" class="caracteristicas-select">
                                    <option value="1"<% if (product.prop_pet == 1) {%>selected <% } %>>Pet Friendly</option>
                                    <option value="0"<% if (product.prop_pet == 0) {%>selected <% } %>>Venenosa</option>                                                                       
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
            </section>

                                                          <!-- FILTROS -->

            <div class="carga-sub-titulos">
                <h3>Filtros</h3>
            </div>
            <div class="filter-container">
                <div class="filter-benefit">
                    <div id="benefit-errors" class="msj-error">Elegí al menos uno.</div>
                    <div><label id="benefit-label">Beneficio</label></div>
                    <% for (benefit of benefits) { %> 
                        <div><input type="checkbox" name="filter_benefit" class="form-filter-benefit" value="<%=benefit.id%>" <% for (benefitProduct of product.benefits) { if (benefitProduct.id == benefit.id){ %>checked<% } %><% } %>><%=benefit.name%></div>
                        
                        <% } %>  
                </div>
                <div class="filter-room">
                    <div id="room-errors" class="msj-error">Elegí al menos uno.</div>
                    <div><label id="rooms-label">Espacio</label></div>
                    <% for (room of rooms) { %>
                        <div><input type="checkbox" name="filter_room" class="form-filter-room" value="<%=room.id%>"<% for (roomProduct of product.rooms) { if (roomProduct.id == room.id){ %>checked <% } %> <% } %>><%=room.name%></div>
                        
                        <% } %> 
                    
                </div>
                <div class="filter-dificult">
                    <div><label>Dificultad</label></div>
                    <select id="form-filter-dificult" name="filter_dificult">
                        <option value="1" <% if (product.filter_dificult == 1) {%>selected <% } %>>Poco cuidado</option>
                        <option value="2" <% if (product.filter_dificult == 2) {%>selected <% } %>>Requiere atención</option>
                        <option value="3" <% if (product.filter_dificult == 3) {%>selected <% } %>>Cuidado especial</option>                                                                       
                    </select>
                </div>
                <div class="submit-button">
                    <div class="cancel-button">ID de producto: </div>
                    <button type="submit" class="save-button">Guardar cambios</button>
                </form>
                    <form action="/products/delete/<%= product.id %>" method="POST"><button type="submit" class="delete-button">Eliminar producto</button></form>
                    
                </div>
            </div>
            <script src="/js/js-edit.js"></script>
        
    </main>
    <%-include('../partials/footer')%>
</body>
</html>