<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/style.css" rel="stylesheet" />
    <link href="/stylesheets/cargaProducto.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/37f1eb6e83.js" crossorigin="anonymous"></script>
    <title>GreenHome</title>
</head>
<body>
    <%-include('../partials/header')%>
    <main>
                                                            <!-- CARGA DE ITEMS  --> 
        <form action="/products/edit/<%= productToEdit.id %>" method="POST" enctype="multipart/form-data">
            <section class="carga-visuales-container">
                <div class="carga-titulo-principal"><h2>Estás editando:<%= productToEdit.name %>  </h1></div>
                <div class="carga-sub-titulos"><h3>Elementos visuales</h3></div>
                <div class="visual-selector-container">
                    <div class="visual-selector">
                        <div class="main-photo"><input class="visual-selector-input"type="file" name="image"><div>Foto principal</div></div>
                        <div class="slider-photo"><input class="visual-selector-input" type="file" name="slider_photo"><div>Fotos slider</div></div>
                        <div class="complements"><i class="fas fa-list-alt"></i><div>Complementos</div>

                        </div>
                        <div class="plantpot"><i class="fas fa-seedling"></i><div>Relacionadas</div></div>
                    </div>
                </div>
            </section>

                                                                    <!-- NOMBRE Y DISCRIPCION --> 

            <section class="carga-descripcion-container">
                <div class="carga-sub-titulos">
                    <h3>Descripción</h3>
                </div>

                <div class="carga-descripcion-60-40">
                    <div class="descripcion-60">
                        <div class="desciption-input-box">                     
                            <div class="desciption-input-box">
                                <label for="name" class="descripcion-input">Nombre de Producto</label>
                                <input type="text" name="name" value="<%= productToEdit.name %>" class="descripcion-input" placeholder="Ej: Árbol de Jade">
                            </div>
                        </div>
                        <div class="desciption-input-box">
                            <div class="descripcion-input">
                                <div class="descripcion-input"><label for="name" class="descripcion-input">Precio</label></div>
                                <div class="descripcion-input-row">
                                    <input type="text" name="price" value="<%= productToEdit.price %>" class="descripcion-input-mid" placeholder="Ej: 2000">
                                    <input type="text" name="discount" value="<%= productToEdit.discount %>" class="descripcion-input-mid"  placeholder="Ej: 10">
                                </div>
                            </div>
                        </div>
                            <div class="desciption-input-box">
                                <label for="prop_category" class="descripcion-input">Categoría</label>
                                <select name="prop_category"  class="descripcion-input">
                                    <option value="Plantas de Interior" <% if (productToEdit.prop_category == "Plantas de Interior"){ %>selected<%}%>>Plantas de Interior</option>
                                    <option value="Plantas de Exterior" <% if (productToEdit.prop_category == "Plantas de Exterior"){ %>selected<%}%>>Plantas de Exterior</option>
                                    <option value="Plantas Florales" <% if (productToEdit.prop_category == "Plantas Florales"){ %>selected<%}%>>Plantas Florales</option>
                                    <option value="Cáctus y Crasas" <% if (productToEdit.prop_category == "Cáctus y Crasas"){ %>selected<%}%>>Cáctus y Crasas</option>
                                    <option value="Orquideas" <% if (productToEdit.prop_category == "Orquideasr"){ %>selected<%}%>>Orquideas</option>
                                    <option value="Kokedamas" <% if (productToEdit.prop_category == "Kokedamas"){ %>selected<%}%>>Kokedamas</option>
                                    <option value="Macetas" <% if (productToEdit.prop_category == "Macetasr"){ %>selected<%}%>>Macetas</option>
                                    <option value="Accesorios" <% if (productToEdit.prop_category == "Accesorios"){ %>selected<%}%>>Accesorios</option>
                                </select>
                            </div>
                            <div class="desciption-input-box">
                                <label for="name" class="descripcion-input">Descripción</label>
                                <input type="text" name="line" value="<%= productToEdit.line %>" class="descripcion-input" placeholder="Descripcion una linea">
                                <input type="text" name="copy" value="<%= productToEdit.copy %>" class="descripcion-input" placeholder="Copywriting">
                                <input type="text" name="description" value="<%= productToEdit.description %>" class="descripcion-input descripcion-input-long" placeholder="Descripcion completa de producto">
                            </div>
                    </div>
                    <div class="descripcion-40">
                        <div class="titulo-caracteristica">
                            Caracteristicas
                        </div>
                        <div class="select-caracteristicas-box">
                            <div class="caracteristica-producto">
                                <label>Luz</label>
                                <select name="prop_light" class="caracteristicas-select">
                                    <option value="Luz reflejada" <% if (productToEdit.prop_light == "Luz reflejada"){ %>selected<%}%>>Luz reflejada</option>
                                    <option value="Luz directa" <% if (productToEdit.prop_light == "Luz directa"){ %>selected<%}%>>Luz directa</option>                                     
                                </select>
                            </div> 
                            <div class="caracteristica-producto">
                                <label>Riego</label>
                                <select name="prop_water" class="caracteristicas-select" >
                                    <option value="1" <% if (productToEdit.prop_water == "1"){ %>selected<%}%>>1 vez por semana</option>
                                    <option value="2" <% if (productToEdit.prop_water == "2"){ %>selected<%}%>>2 veces por semana</option> 
                                    <option value="3" <% if (productToEdit.prop_water == "3"){ %>selected<%}%>>3 veces por semana</option>                                  
                                </select>
                            </div> 
                            <div class="caracteristica-producto">
                                <label>Maceta</label>
                                <select name="prop_plantpot" class="caracteristicas-select">
                                    <option value="Pequeña" <% if (productToEdit.prop_plantpot == "Pequeña"){ %>selected<%}%>>Pequeña</option>
                                    <option value="Mediana" <% if (productToEdit.prop_plantpot == "Mediana"){ %>selected<%}%>>Mediana</option>
                                    <option value="Grande"  <% if (productToEdit.prop_plantpot == "Grande"){ %>selected<%}%>>Grande</option>    
                                    <option value="Muy grande" <% if (productToEdit.prop_plantpot == "Muy grande"){ %>selected<%}%>>Muy grande</option>                                                                         
                                </select>
                            </div> 
                            <div class="caracteristica-producto">
                                <label>Plagas</label>
                                <select name="prop_plague" class="caracteristicas-select" >
                                    <option value="Resistente" <% if (productToEdit.prop_plague == "Resistente"){ %>selected<%}%>>Resistente</option>
                                    <option value="Débil" <% if (productToEdit.prop_plague == "Débil"){ %>selected<%}%>>Débil</option>                                                                       
                                </select>
                            </div>
                            <div class="caracteristica-producto">
                                <label>Altura</label>
                                <input type="number" name="prop_height" list="height-list" step="0.25">
                                <datalist id="height-list">
                                    <option value="0.25" <% if (productToEdit.prop_height == "0.25"){ %>selected<%}%> >
                                    <option value="0.50" <% if (productToEdit.prop_height == "0.50"){ %>selected<%}%> >
                                    <option value="0.75" <% if (productToEdit.prop_height == "0.75"){ %>selected<%}%> >
                                    <option value="1.00" <% if (productToEdit.prop_height == "1.00"){ %>selected<%}%> >
                                    <option value="1.25" <% if (productToEdit.prop_height == "1.25"){ %>selected<%}%> >
                                    <option value="1.50" <% if (productToEdit.prop_height == "1.50"){ %>selected<%}%> >
                                    <option value="1.75" <% if (productToEdit.prop_height == "1.75"){ %>selected<%}%> >
                                    <option value="2.00" <% if (productToEdit.prop_height == "2.00"){ %>selected<%}%> >
                                    <option value="2.25" <% if (productToEdit.prop_height == "2.25"){ %>selected<%}%> >
                                    <option value="2.50" <% if (productToEdit.prop_height == "2.50"){ %>selected<%}%> >
                                </datalist>
                            </div>
                            <div class="caracteristica-producto">
                                <label>Mascotas</label>
                                <select name="prop_pet" class="caracteristicas-select">
                                    <option value="true">Pet Friendly</option>
                                    <option value="false">Venenosa</option>                                                                       
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
            </section>

                                                          <!-- FILTROS -->

            <div class="carga-sub-titulos">
                <h3>Filtros</h3>
            </div>
            <div class="filter-container">
                <div class="filter-benefit">
                    <div><label>Beneficio</label></div><p style="color: red; font-size: xx-small;">Volver a seleccionar</p>
                    <div><input type="checkbox" name="filter_benefit" value="Trae buena suerte"> Trae buena suerte</div>
                    <div><input type="checkbox" name="filter_benefit" value="Ayuda a la ansiedad"> Ayuda a la ansiedad</div>
                    <div><input type="checkbox" name="filter_benefit" value="Absorbe la humedad"> Absorbe la humedad</div>
                    <div><input type="checkbox" name="filter_benefit" value="Aromatizante"> Aromatizante</div>
                    <div><input type="checkbox" name="filter_benefit" value="Mejora la productividad"> Mejora la productividad</div>
                    <div><input type="checkbox" name="filter-benefit" value="Reducen el estrés"> Reducen el estrés</div>
                </div>
                <div class="filter-room">
                    <div><label>Espacio</label></div><p style="color: red; font-size: xx-small;">Volver a seleccionar</p>
                    <div><input type="checkbox" name="filter_room" value="Dormitorio"> Dormitorio</div>
                    <div><input type="checkbox" name="filter_room" value="Living"> Living</div>
                    <div><input type="checkbox" name="filter_room" value="Baño"> Oficina</div>
                    <div><input type="checkbox" name="filter_room" value="Balcón"> Balcón</div>
                    <div><input type="checkbox" name="filter_room" value="Jardín"> Jardín</div>
                    <div><input type="checkbox" name="filter_room" value="Terraza"> Terraza</div>
                </div>
                <div class="filter-dificult">
                    <div><label>Dificultad</label></div>
                    <select name="filter_dificult">
                        <option value="Poco cuidado" <% if (productToEdit.filter_dificult == "Poco cuidado"){ %>selected<%}%> >Poco cuidado</option>
                        <option value="Requiere atención" <% if (productToEdit.filter_dificult == "Requiere atención"){ %>selected<%}%>>Requiere atención</option>
                        <option value="Cuidado especial" <% if (productToEdit.filter_dificult == "Cuidado especial"){ %>selected<%}%> >Cuidado especial</option>                                                                       
                    </select>
                </div>
                <div class="submit-button">
                    <div class="cancel-button">ID de producto: <%= productToEdit.id %></div>
                    <a href="/products/delete/<%= productToEdit.id %>" class="delete-button">Eliminar producto</a>
                    <button type="submit" class="save-button">Modificar producto</button>
                </div>
            </div>
        </form>
    </main>
    <%-include('../partials/footer')%>
</body>
</html>