<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/style.css" rel="stylesheet" />
    <link href="/stylesheets/cargaProducto.css" rel="stylesheet" />
    <link href="/stylesheets/Tienda.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/37f1eb6e83.js" crossorigin="anonymous"></script>
    <title>GreenHome</title>
</head>
<body>
    <%-include('../partials/header')%>
   <main>
       <div><h2>Tienda</h2></div>
                
       <%-include('../partials/filters')%>
    
       <section class="container-tienda">   
        <% for (product of products) { %>
        <div class= "img-articulo-tienda">
            <div class="grid-container">
                <a href="/products/detail/<%=product.id%>"><img class="img-articulo-tienda" src="\images\products/<%=product.image%>" alt="" class="image"></a>
              </div>   
            <% let finalPrice=0; 
            if (product.discount>0){
                finalPrice = Math.round(product.price*(1-(product.discount/100)))
                } else { 
                finalPrice = product.price} %>
            <div class="detail-container">
                <a href="/products/detail/<%=product.id%>" class="detail-product-name"><%=product.name%> <% if (product.discount>0){%><span class="detail-product-discount"><%=product.discount%>% OFF</span> <%}%></a>
                <a href="/products/detail/<%=product.id%>" class="detail-product-price">$<%=finalPrice%></a>
                <a href="/products/detail/<%=product.id%>" class="detail-product-line"><%=product.line%></a>
                <a href="/products/detail/<%=product.id%>" class="detail-product-button"><i class="fas fa-cart-plus detail-product-button-ico"></i></a>
            
              </div>
        </div>
        <%}%>
       </section>
   </main>
 
  
    <%-include('../partials/footer')%>
</body>
</html>